# Develop the distnace matrix code

## Import packages

In [1]:
import os
import sys
import pandas as pd
import googlemaps
from shapely.geometry import Point
from itertools import product
from datetime import datetime
from tqdm import tqdm

In [2]:
parent_directory = os.path.dirname(os.getcwd())
sys.path.append(parent_directory)  

from utils.utils import load_data, transform_data, merge_data

## Load, transform & merge data

In [3]:
data = load_data()
data = transform_data(data)
data = merge_data(data)

/Users/guillaumeplassais/Documents/HEC/data_4_health/utils/utils.py:77: FutureWarning: Returning a DataFrame from Series.apply when the supplied function returns a Series is deprecated and will be removed in a future version.
  data["intervenants"]["Compétences"]

In [4]:
data

,ID Client,ID Intervenant,Date,Heure de début,Heure de fin,Prestation,geometry_client,Permis,Véhicule personnel,ACCOMPAGNEMENTS COURSES,...,2024-01-22 00:00:00,2024-01-23 00:00:00,2024-01-24 00:00:00,2024-01-25 00:00:00,2024-01-26 00:00:00,2024-01-27 00:00:00,2024-01-28 00:00:00,2024-01-29 00:00:00,2024-01-30 00:00:00,2024-01-31 00:00:00
0,559475456,162858075,2024-01-01,2024-01-01 07:15:00,2024-01-01 07:45:00,REPAS,POINT (1.37569 48.72105),1.0,1.0,False,...,1,1,1,1,0,1,1,1,1,1
1,559475456,162858075,2024-01-02,2024-01-02 07:20:00,2024-01-02 07:50:00,REPAS,POINT (1.37569 48.72105),1.0,1.0,False,...,1,1,1,1,0,1,1,1,1,1
2,559475456,162858075,2024-01-04,2024-01-04 07:20:00,2024-01-04 07:50:00,REPAS,POINT (1.37569 48.72105),1.0,1.0,False,...,1,1,1,1,0,1,1,1,1,1
3,559475456,162858075,2024-01-08,2024-01-08 12:30:00,2024-01-08 13:15:00,REPAS,POINT (1.37569 48.72105),1.0,1.0,False,...,1,1,1,1,0,1,1,1,1,1
4,559475456,162858075,2024-01-09,2024-01-09 07:20:00,2024-01-09 07:50:00,REPAS,POINT (1.37569 48.72105),1.0,1.0,False,...,1,1,1,1,0,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2865,88672872,739888851,2024-01-16,2024-01-16 17:45:00,2024-01-16 18:45:00,AIDE MENAGERE,POINT (1.38026 48.77697),1.0,1.0,False,...,1,1,1,0,1,1,1,1,1,1
2866,560575760,78012267,2024-01-25,2024-01-25 10:00:00,2024-01-25 11:00:00,HOMMES TOUTES MAINS,POINT (1.43490 48.85078),1.0,1.0,False,...,0,0,0,1,0,0,0,0,0,0
2867,621952854,78012267,2024-01-25,2024-01-25 13:00:00,2024-01-25 14:00:00,HOMMES TOUTES MAINS,POINT (1.35170 48.74280),1.0,1.0,False,...,0,0,0,1,0,0,0,0,0,0
2868,79591205,700168298,2024-01-31,2024-01-31 10:30:00,2024-01-31 12:00:00,AIDE MENAGERE,POINT (1.36919 48.73936),1.0,1.0,True,...,0,0,0,0,0,0,0,0,1,1
2869,727679560,700168298,2024-01-30,2024-01-30 10:00:00,2024-01-30 11:30:00,AIDE MENAGERE,POINT (1.23537 48.76144),1.0,1.0,True,...,0,0,0,0,0,0,0,0,1,1

## Create a df for journey Intervenants loc <=> Clients loc

In [5]:
list_id_inter_clients = list(
    product(data["ID Intervenant"].unique(), data["ID Client"].unique())
)
df_dist_inter_clients = pd.DataFrame(
    list_id_inter_clients, columns=(["ID Intervenant", "ID Client"])
)
df_dist_inter_clients = (df_dist_inter_clients
                         .merge(data[["ID Intervenant", "geometry_intervenant",'Permis']]
                                .drop_duplicates(subset='ID Intervenant')
                                , on="ID Intervenant")
                         .merge(data[["ID Client", "geometry_client"]]
                                .drop_duplicates(subset='ID Client')
                                , on="ID Client")
                        )



df_dist_inter_clients

,ID Intervenant,ID Client,geometry_intervenant,Permis,geometry_client
0,162858075,559475456,POINT (1.37465 48.72227),1.0,POINT (1.37569 48.72105)
1,78007018,559475456,POINT (1.35105 48.68993),1.0,POINT (1.37569 48.72105)
2,856089133,559475456,POINT (1.52308 48.64542),0.0,POINT (1.37569 48.72105)
3,842621873,559475456,POINT (1.37984 48.72886),1.0,POINT (1.37569 48.72105)
4,838320706,559475456,POINT (1.39197 48.73852),1.0,POINT (1.37569 48.72105)
...,...,...,...,...,...
2827,818696864,621952854,POINT (1.35792 48.74470),1.0,POINT (1.35170 48.74280)
2828,813991780,621952854,POINT (1.07320 48.69271),1.0,POINT (1.35170 48.74280)
2829,739888851,621952854,POINT (1.30391 48.75186),1.0,POINT (1.35170 48.74280)
2830,78012267,621952854,POINT (1.37199 48.72921),1.0,POINT (1.35170 48.74280)
2831,700168298,621952854,POINT (1.21061 48.75810),1.0,POINT (1.35170 48.74280)

## Create a df for journey Clients loc <=> Clients loc

In [6]:
list_id_client_clients = list(
    product(data["ID Client"].unique(), data["ID Client"].unique())
)
df_dist_client_clients = pd.DataFrame(
    list_id_client_clients, columns=(["ID Client 1", "ID Client 2"])
)
df_dist_client_clients = (df_dist_client_clients
                         .merge(data[["ID Client", "geometry_client"]]
                                .drop_duplicates(subset='ID Client')
                                .set_index("ID Client")
                                , left_on="ID Client 1"
                                , right_on='ID Client' )
                         .merge(data[["ID Client", "geometry_client"]]
                                .drop_duplicates(subset='ID Client')
                                .set_index("ID Client")
                                , left_on="ID Client 2"
                                , right_on='ID Client' 
                                ,suffixes=('_1','_2'))
                        )

ID_list = []

for Client_ID in df_dist_client_clients['ID Client 1'].to_numpy():

    df_dist_client_clients = df_dist_client_clients[(df_dist_client_clients['ID Client 1'].isin(ID_list)) | (df_dist_client_clients['ID Client 2'] != Client_ID)]

    ID_list.append(Client_ID)

df_dist_client_clients

,ID Client 1,ID Client 2,geometry_client_1,geometry_client_2
118,559475456,559277088,POINT (1.37569 48.72105),POINT (1.37569 48.72105)
236,559475456,87852633,POINT (1.37569 48.72105),POINT (1.49877 48.69194)
237,559277088,87852633,POINT (1.37569 48.72105),POINT (1.49877 48.69194)
354,559475456,243033408,POINT (1.37569 48.72105),POINT (1.33285 48.72639)
355,559277088,243033408,POINT (1.37569 48.72105),POINT (1.33285 48.72639)
...,...,...,...,...
13918,570590313,621952854,POINT (1.35792 48.74470),POINT (1.35170 48.74280)
13919,167937489,621952854,POINT (1.34758 48.74280),POINT (1.35170 48.74280)
13920,474721965,621952854,POINT (1.37065 48.74062),POINT (1.35170 48.74280)
13921,751167409,621952854,POINT (1.33886 48.72933),POINT (1.35170 48.74280)
13922,88672872,621952854,POINT (1.38026 48.77697),POINT (1.35170 48.74280)

## Use of the google API to compute the distance and travel time betwwen locations

In [8]:
api_key = 'AIzaSyAC0iHJeqInmkV01SP1f1uQFKbpszE8dws'
gmaps = googlemaps.Client(key=api_key)

In [9]:
def get_distance_duration_inter_2_client(df):
    df = df.copy()

    distance = []
    duration = []

    for _, row in tqdm(df.iterrows(), total=len(df), desc="Calculating distances"):

        origin = (row["geometry_intervenant"].y, row["geometry_intervenant"].x)
        destination = (row["geometry_client"].y, row["geometry_client"].x)

        mode = "driving" if row["Permis"] == 1 else "bicycling"

        # Get the current time (you can modify this as needed)
        departure_time = datetime.now()

        # Make the Distance Matrix API request
        result = gmaps.distance_matrix(
            origin, destination, mode=mode, departure_time=departure_time
        )

        # Extract distance and duration from the response
        distance.append(result["rows"][0]["elements"][0]["distance"]["value"])
        duration.append(result["rows"][0]["elements"][0]["duration"]["value"])

    df["distance"] = distance
    df["duration"] = duration

    df['ID Intervenant'] = df['ID Intervenant'].astype('str')
    df['ID Client'] = df['ID Client'].astype('str')
    

    return df

In [10]:
def get_distance_duration_client_2_client(df):
    df = df.copy()

    distance_car = []
    duration_car = []
    distance_bike = []
    duration_bike = []

    for _, row in tqdm(df.iterrows(), total=len(df), desc="Calculating distances"):

        origin = (row["geometry_client_1"].y, row["geometry_client_1"].x)
        destination = (row["geometry_client_2"].y, row["geometry_client_2"].x)

        # Get the current time (you can modify this as needed)
        departure_time = datetime.now()

        # Make the Distance Matrix API request
        result_car = gmaps.distance_matrix(
            origin, destination, mode="driving", departure_time=departure_time
        )

        # Extract distance and duration from the response
        distance_car.append(result_car["rows"][0]["elements"][0]["distance"]["value"])
        duration_car.append(result_car["rows"][0]["elements"][0]["duration"]["value"])

        # Make the Distance Matrix API request
        result_bike = gmaps.distance_matrix(
            origin, destination, mode="bicycling", departure_time=departure_time
        )

        # Extract distance and duration from the response
        distance_bike.append(result_bike["rows"][0]["elements"][0]["distance"]["value"])
        duration_bike.append(result_bike["rows"][0]["elements"][0]["duration"]["value"])

    df["distance_car"] = distance_car
    df["duration_car"] = duration_car
    df["distance_bike"] = distance_bike
    df["duration_bike"] = duration_bike

    df['ID Intervenant'] = df['ID Intervenant'].astype('str')
    df['ID Client'] = df['ID Client'].astype('str')

    return df

## Compute and save results

In [11]:
df_dist_inter_clients.head()

,ID Intervenant,ID Client,geometry_intervenant,Permis,geometry_client
0,162858075,559475456,POINT (1.37465 48.72227),1.0,POINT (1.37569 48.72105)
1,78007018,559475456,POINT (1.35105 48.68993),1.0,POINT (1.37569 48.72105)
2,856089133,559475456,POINT (1.52308 48.64542),0.0,POINT (1.37569 48.72105)
3,842621873,559475456,POINT (1.37984 48.72886),1.0,POINT (1.37569 48.72105)
4,838320706,559475456,POINT (1.39197 48.73852),1.0,POINT (1.37569 48.72105)

In [12]:
# Uncomment if you want to run this line of code
#df_matrix_inter_to_client =  get_distance_duration_inter_2_client(df_dist_inter_clients)

Calculating distances: 100%|██████████| 2832/2832 [04:34<00:00, 10.30it/s]

In [13]:
df_matrix_inter_to_client.head()

,ID Intervenant,ID Client,geometry_intervenant,Permis,geometry_client,distance,duration
0,162858075,559475456,POINT (1.37465 48.72227),1.0,POINT (1.37569 48.72105),375,83
1,78007018,559475456,POINT (1.35105 48.68993),1.0,POINT (1.37569 48.72105),5454,497
2,856089133,559475456,POINT (1.52308 48.64542),0.0,POINT (1.37569 48.72105),17631,3520
3,842621873,559475456,POINT (1.37984 48.72886),1.0,POINT (1.37569 48.72105),1732,250
4,838320706,559475456,POINT (1.39197 48.73852),1.0,POINT (1.37569 48.72105),3884,326

In [14]:
df_matrix_inter_to_client.to_csv('../data/distance_matrix_inter_to_client.csv', index=False)

In [15]:
df_dist_client_clients.head()

,ID Client 1,ID Client 2,geometry_client_1,geometry_client_2
118,559475456,559277088,POINT (1.37569 48.72105),POINT (1.37569 48.72105)
236,559475456,87852633,POINT (1.37569 48.72105),POINT (1.49877 48.69194)
237,559277088,87852633,POINT (1.37569 48.72105),POINT (1.49877 48.69194)
354,559475456,243033408,POINT (1.37569 48.72105),POINT (1.33285 48.72639)
355,559277088,243033408,POINT (1.37569 48.72105),POINT (1.33285 48.72639)

In [16]:
# Uncomment if you want to run this line of code
#df_matrix_client_to_client =  get_distance_duration_client_2_client(df_dist_client_clients)

Calculating distances: 100%|██████████| 6903/6903 [21:51<00:00,  5.26it/s]

KeyError: 'ID Intervenant'

In [ ]:
df_matrix_client_to_client.head()

,ID Client 1,ID Client 2,geometry_client_1,geometry_client_2,distance_car,duration_car,distance_bike,duration_bike
118,559475456,559277088,POINT (1.37569 48.72105),POINT (1.37569 48.72105),1 m,1 min,1 m,1 min
236,559475456,87852633,POINT (1.37569 48.72105),POINT (1.49877 48.69194),13.8 km,18 mins,12.1 km,44 mins
237,559277088,87852633,POINT (1.37569 48.72105),POINT (1.49877 48.69194),13.8 km,18 mins,12.1 km,44 mins
354,559475456,243033408,POINT (1.37569 48.72105),POINT (1.33285 48.72639),5.9 km,8 mins,4.2 km,18 mins
355,559277088,243033408,POINT (1.37569 48.72105),POINT (1.33285 48.72639),5.9 km,8 mins,4.2 km,18 mins

In [ ]:
df_matrix_client_to_client.to_csv('../data/distance_matrix_client_to_client.csv', index=False)